header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
                span MyTube
        .header__column
            form(action="/search", method="get")   
                input(name="keyword", type="text", placeholder="Search")
                button(type="submit") Search
        .header__column
            ul
                if user
                    li
                        a(href=`/videos${routes.upload}`) <i class="fas fa-video"></i>
                    li
                        a(href="#") <i class="fas fa-th"></i>
                    li
                        a(href="#") <i class="fas fa-comment-dots"></i>
                    li
                        a(href="#") <i class="fas fa-bell"></i>
                    li
                        a(href=routes.mypage) <i class="fas fa-user-circle"></i>
                    li
                        a(href=routes.logout) <i class="fas fa-sign-out-alt"></i>                   
                else    
                    li
                        a(href=`/videos${routes.upload}`) <i class="fas fa-video"></i> 
                    li
                        a(href="#") <i class="fas fa-th"></i>
                    li
                        a(href="#") <i class="fas fa-comment-dots"></i>
                    li
                        a(href=routes.login) <i class="fas fa-user-circle"> SING IN</i> 
                    li
                        a(href=routes.join) Join    
                