extends layout/main

block content
    h3 Edit Video
    p=theVideo.title
    div.form-container
        form(action=routes.videoEdit(theVideo.id), method="post")
            input(name="title", type="text", placeholder="Title", value=theVideo.title)
            input(name="description", type="text", placeholder="Description", value=theVideo.description) 
            input(type="submit", value="Update Video")
        a.form-container__link(href=routes.videoDelete(theVideo.id)) Delete Video   
